{% extends "base.html" %}

{% block title %}{{ article.title }}{%endblock%}

{% block content %}
<article>
  <header>
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
 </header>

<footer>

 {% if 'event-start' in article.metadata %}
  <time>{{ article.metadata['event-start']}}</time>
  <span class="location">
  {%if 'location_link' in article.metadata %}
  <a href="{{ article.location_link }}">{{ article.location }}</a>
  {% else %}
  {{ article.location }}
  {% endif %}
  </span>

 {% else %}
   <time>
     {{ article.date.strftime("%-d.%-m.%y &mdash; %H:%M") }}
   </time>


 {% endif %}

  </footer>

      {{ article.content }}
  </article>
  {% endblock %}
