<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		<meta charset="utf-8">

		<!-- favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/theme/favicon/apple-touch-icon.png?v=kretaapril17">
		<link rel="icon" type="image/png" href="/theme/favicon/favicon-32x32.png?v=kretaapril17" sizes="32x32">
		<link rel="icon" type="image/png" href="/theme/favicon/favicon-16x16.png?v=kretaapril17" sizes="16x16">
		<link rel="manifest" href="/theme/favicon/manifest.json?v=kretaapril17">
		<link rel="mask-icon" href="/theme/favicon/safari-pinned-tab.svg?v=kretaapril17" color="#f29a1f">
		<link rel="shortcut icon" href="/theme/favicon/favicon.ico?v=kretaapril17">
		<meta name="apple-mobile-web-app-title" content="KRETA">
		<meta name="application-name" content="KRETA">
		<meta name="msapplication-config" content="/theme/favicon/browserconfig.xml?v=kretaapril17">
		<meta name="theme-color" content="#f29a1f">

    {% block head %}

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

		<link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/style.css">

		<script type="text/javascript">
				window.onscroll = function() {
					var menu = document.getElementById('main-menu');
					var placeholder = document.getElementById('menu-placeholder');
					if( document.body.scrollTop+document.documentElement.scrollTop > 291) {
						menu.className = "fixed";
						placeholder.className = "fixed";
					}
					else {
						menu.className = "";
						placeholder.className = "";
					}
				};
		</script>
    {% endblock head %}
</head>

<body>
	<div id="logo-top">
		<a href="/"><img src="/{{ THEME_STATIC_DIR }}/logo.png"/></a>
	</div>

	<nav id="main-menu">
		<ul>
			<li{% if article or page_name == 'index' %} class="active" {% endif %}>
				<a href="/">News</a>
			</li>
			<li{% if event or output_file == EVENT_OVERVIEW_URL %} class="active" {% endif %}>
				<a href="/{{EVENT_OVERVIEW_URL}}">Programm</a>
			</li>
		{% for p in PAGES %}
			<li{% if p == page %} class="active"{% endif %}>
				<a href="/{{ p.url }}">{{ p.title }}</a>
			</li>
		{% endfor %}
		</ul>
	</nav>

	<div id="menu-placeholder"></div> <!-- for javascript menu-magic -->

	{% block pre_content %}
	{% endblock %}

	<div id="content">
	{% block content %}b
	{% endblock %}
	</div>

	{% for p in hidden_pages %}
	{% if p.slug == 'impressum' %}
	<footer>
		<a href="/pages/impressum.html">Impressum</a>
	</footer>
	{% endif %}
	{% endfor %}

</body>
</html>
