{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
    <article>
        <header>
            <a href="{{ SITEURL }}/{{ event.url }}" rel="bookmark"
               title="Permalink to {{ event.title|striptags }}">{{ event.title }}</a>
        </header>

        <footer>
            <time>{{ event.starts.strftime("%a %e.%-m. &mdash; %H:%M") }} bis {{ event.ends.strftime("%H:%M") }}</time>
            <span class="location">
    {% if 'location_link' in event.metadata %}
        <a href="{{ event.location_link }}">{{ event.location }}</a>
    {% else %}
        {{ event.location }}
    {% endif %}
    </span>
        </footer>

        {{ event.content }}

        {% if event.location_gps is defined and event.location_gps != '0.0, 0.0' %}
            <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
            <script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>
            <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>


            <style>
                .map {
                    height: 350px;
                    width: 80%;
                    margin: auto;
                    padding-top: 3em;
                }
            </style>

            <section id="location">
                <div id="map" class="map"></div>
                <script type="text/javascript">

                    var access_token = 'pk.eyJ1IjoiaGVqbiIsImEiOiJjajBiNXpzemcwMmZsMzNsY2pkOXBpZjhyIn0.Xx-hi3LdJ7szbSQoaOWrVQ';

                    var coords = ol.proj.fromLonLat([{{event.location_gps}}].reverse());

                    var eventLocation = new ol.Feature({
                        geometry: new ol.geom.Point(coords),
                        name: "<a href='{{location_link}}' title='Website von {{location}}'>{{location}}</a>"
                    });

                    eventLocation.setStyle(new ol.style.Style({
                        image: new ol.style.Icon(({
                            anchor: [0, 0],
                            anchorXUnits: 'fraction',
                            anchorYUnits: 'pixels',
                            src: '{{ SITEURL }}/{{ THEME_STATIC_DIR }}/dot.png'
                        }))
                    }));

                    var markerSource = new ol.source.Vector({
                        features: [eventLocation]
                    });

                    var markers = new ol.layer.Vector({
                        source: markerSource
                    });

                    var bg = new ol.layer.Tile({
                        source: new ol.source.TileJSON({
                            url: 'https://api.tiles.mapbox.com/v4/felixkamille.4128d9e7.json?access_token=' + access_token
                        })
                    });

                    var map = new ol.Map({
                        target: 'map',
                        layers: [bg, markers],
                        view: new ol.View({
                            center: coords,
                            zoom: 17
                        })
                    });
                </script>
            </section>
        {% endif %}

    </article>
{% endblock %}
