
{% extends "base.html" %}


{% block pre_content %}
    {% if events_by_day %}
    <section id="event-table">
    <div>
    {% for d in events_by_day %}
      <div class="day">
        <div class="header">{{ d.day.strftime("%a %e/%-m") }}</div>
        {% for e in d.events %}
        <div class="event"><time>{{ e.starts.strftime("%H:%M") }}</time><a href="#{{ e.slug }}">{{e.short_title}}</a></div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
    </section>
    {% endif %}

    {% if calendar_filename %}
    <section id="ical"><a href="{{ SITEURL }}/{{calendar_filename}}">{{ THEME_KRETA['ical_link'] }}</a></section>
    {% endif %}

{% endblock %}

{% block content %}
    {% if events %}
      <section id="event-list">
      {% for event in events %}
<a href="{{ event.save_as }}">
      <article id="{{ event.slug }}" class="corrected-anchor">
        <header>
          <span>
            {{event['title']}}
          </span>
        </header>

        {{event['summary']}}

        <span class="metadata">
        <time>{{ event.starts.strftime("%a %e.%-m. &mdash; %H:%M")}}</time>

        {% if event.location %}
        &mdash;
        {{ event.location }}

        {% endif %}
      </span>
      </article>
</a>
      {% endfor %}
    </section>

  {% else %}
    {{ THEME_KRETA['no_events'] }}
  {% endif %}

{% endblock %}
