{% extends "base.html" %}
{% block content %}

{% for article in articles_page.object_list %}
{% if 'event-start' not in article.metadata %}
        <article>
                <header>
		<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
		</header>
                {% if article.summary == article.content or article.content == "" %}
	        {{ article.summary }}
                {% else %}
	        {{ article.summary}}
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="ganzen Artikel lesen" class="more">Weiterlesen…</a>
                {% endif %}
        </article>
{% endif %}
{% else %}
        {{ THEME_KRETA['no_articles'] }}
{% endfor %}

{% endblock content %}
