@import url(fonts.css);

a {
  color:inherit;
  text-decoration:none;
}

hr {
margin-top:20px;
margin-bottom:20px;
}

body  {
  background-color: rgb(255, 255, 255);
  padding:0;
  margin:0;
}
#logo-top {
  width:100%;
  margin-top:20px;
  text-align:center;
}

#menu-placeholder {
  height: 126px;
  display: none;
}
#menu-placeholder.fixed {
  display: block;
}

#main-menu {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  padding-bottom: 15px;
}
#main-menu.fixed {
  position:fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color:inherit;
}
#main-menu ul {
  margin:0;
  padding:0;
  list-style:none;
  border-bottom:1px solid rgba(0,0,0,0.4);
}
#main-menu li {
  display:inline-block;
}
#main-menu a {
  display:inline-block;

  font-family:Metropolisbold;
  font-size:20px;

  margin: 0;
  padding: 13px 15px;
  border-bottom: 4px solid transparent;
}
#main-menu li.active a{
  border-bottom-color: rgb(240, 153, 32);
}
#main-menu li:not(.active):hover a{
  border-bottom-color: black;
  transition: border-color 1s;
  transition-timing-function: ease-out;
}

body {
  font-family: metropolismedium;
  font-size: 18px;
  text-align: justify;
  line-height: 130%;
}
header {
  text-align: left;
}

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 0 20px;
  padding-bottom: 30px;
}
#content p {
  margin-bottom: 10px;
  margin-top: 0px
}
#content h1 {
  font-size: 130%;
  margin-top: 45px;
}
#content h2 {
  font-size: 110%;
  margin-top: 35px;
}
#content h3 {
  font-size: 100%;
  margin-top: 20px;
}
#content article {
  margin-bottom: 40px;
}
#content article header {
  display:inline-block;
  margin-bottom: 30px;

  font-family: metropolisbold;
  font-size: 130%;
}
#content article header a {
  padding-bottom: 5px;
  border-bottom: 5px solid black;
  line-height: 180%;
}
#content article header a:hover {
  border-bottom-color: rgb(240, 153, 32);
  transition: 0.4s;
  transition-timing-function: ease-out;
}

#content article>a, #content article>p a, #content article>span a, #content article>ul a{
  border-bottom: 3px solid rgb(240, 153, 32);
}

section#event-table {
  padding-left: 30px;
  padding-right: 30px;
  text-align:center;
  margin-bottom: 100px;
  display: block;
}
section#event-table>div {
  display:inline-block;
  text-align: center;
}
section#event-table .day{
  display:inline-block;
  vertical-align: top;
  text-align: left;
  min-width: 300px;
  max-width: 300px;
  margin-bottom: 50px;
  margin-right: 15px;
}
section#event-table .day>.header{
  font-family: Metropolisbold;
  font-size: 120%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
section#event-table div.event {
  padding-left: 70px;
  padding-right: 10px;
  border-top: 1px solid rgba(0,0,0,0.4);
  padding-top:5px;
  padding-bottom: 5px;
}
section#event-table div.event:last-child {
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
section#event-table div.event a {
  display:inline-block;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
  margin-bottom: -5px;
}
section#event-table div.event a:hover {
  border-bottom-color: rgb(240, 153, 32);
}
section#event-table div.event time {
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  margin-left:-70px;
  width:60px;
  font-family: metropolisbold;
  vertical-align: top;
}


section#event-list .corrected-anchor::before {
  content:"";
  display:block;
  height:100px; /* fixed header height */
  margin:-100px 0 0; /* negative fixed header height */
}

article .metadata {
  display:inline-block;;
  border-top: 1px solid rgba(0,0,0,0.4);
  margin-top:5px;
  padding-top: 10px;
}

section#event-list article header span{
  line-height: 150%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(240, 153, 32,1);
}
section#event-list article:hover header span {
  border-width: 3px;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

section#event-list article .metadata a {
  border-bottom: 0px solid white;
}

section#event-list article>header {
  margin-bottom:10px;
}
section#ical {
  text-align:center;
  margin-top:-100px;
  margin-bottom:80px;
}
section#ical a {
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(240, 153, 32);
}



article footer {
  display: block;
  margin-bottom: 30px;
}
article footer time {
  display:block;
}
article footer .location a {
  border-bottom: 2px solid rgb(240, 153, 32);
}

body>footer {
  display:block;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 7px 0px;
  text-align:center;
  border-top: 1px solid rgba(0,0,0,0.1);
}
body>footer a {
    opacity: 0.3;
}

